.button {
    align-items: center;
    background: hsl(0deg, 0%, 100%, 60%);
    backdrop-filter: blur(2px);
    box-shadow: var(--shadow-box);
    color: hsl(0deg, 0%, 20%);
    cursor: pointer;
    display: grid;
    font-size: var(--font-size-default);
    font-weight: bolder;
    gap: var(--spacing-small);
    grid-template-areas: ". icon label .";
    grid-template-columns: 1fr auto auto 1fr;
    line-height: var(--font-size-default);
    padding: var(--spacing-default);
    text-align: center;
    transition: all 0.25s ease;
}

.button:hover {
    background: hsl(0deg, 0%, 100%, 80%);
}

.label {
    grid-area: label;
}

.primary {
    background: hsl(30deg, 100%, 65%, 85%);
    color: hsl(30deg, 100%, 20%)
}

.primary:hover {
    background: hsl(30deg, 100%, 75%);
}

.icon {
    grid-area: icon;
    margin: -0.5rem 0;
}