.button {
    align-items: center;
    background: hsl(0deg, 0%, 100%, 60%);
    backdrop-filter: blur(2px);
    box-shadow: var(--shadow-box);
    color: hsl(0deg, 0%, 20%);
    cursor: pointer;
    display: grid;
    gap: 0 var(--spacing-small);
    grid-template-areas: 
        "icon type star"
        "icon label star"
    ;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    margin-bottom: var(--spacing-small);
    padding: var(--spacing-small);
    position: relative;
    transition: all 0.25s ease;
}

.button:hover {
    background: hsl(0deg, 0%, 100%, 80%);
}

.icon {
    grid-area: icon;
}

.type {
    grid-area: type;
}

.label {
    font-size: var(--font-size-default);
    font-weight: bolder;
    grid-area: label;
    line-height: var(--font-size-default);
}

.star {
    border-left: 1px solid hsl(0deg, 0%, 20%);
    grid-area: star;
    margin: calc(-1 * var(--spacing-small));
    padding: var(--spacing-small);
}
