.button {
    align-items: center;
    background: hsl(0deg, 0%, 100%, 60%);
    backdrop-filter: blur(2px);
    box-shadow: var(--shadow-box);
    color: hsl(0deg, 0%, 20%);
    cursor: pointer;
    display: grid;
    gap: var(--spacing-small);
    grid-template-areas: "icon label";
    grid-template-columns: auto 1fr;
    padding: var(--spacing-small);
    transition: all 0.25s ease;
}

.button:hover {
    background: hsl(0deg, 0%, 100%, 80%);
}

.icon {
    grid-area: icon;
    height: 2rem;
    width: 2rem;
}

.label {
    font-size: var(--font-size-default);
    font-weight: bolder;
    grid-area: label;
    line-height: var(--font-size-default);
}