.headline {
    position: relative;
    color: hsla(0deg, 0%, 90%);
    font-size: var(--font-size-huge);
    font-weight: bolder;
    margin: var(--spacing-large) 0;
    text-shadow: var(--shadow-text);
}

.headline::after {
    background: hsla(0deg, 0%, 85%);
    box-shadow: var(--shadow-text);
    content: "";
    display: block;
    height: .125rem;
    left: 0;
    position: absolute;
    right: 0;
}

.secondary {
    font-size: var(--font-size-large);
}