.text {
    color: hsl(0deg, 0%, 20%);
    font-size: var(--font-size-default);
    line-height: var(--font-size-default);
}

.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.size-small {
    font-size: var(--font-size-small);
    line-height: var(--font-size-small);
}

.size-large {
    font-size: var(--font-size-large);
    font-weight: bolder;
    line-height: var(--font-size-large);
}

.size-huge {
    font-size: var(--font-size-huge);
    font-weight: bolder;
    line-height: var(--font-size-huge);
}

.style-white {
    color: #F2F2F2;
    font-weight: bolder;
    text-shadow: var(--shadow-text);
}

.style-uppercase {
    color: hsl(0deg, 0%, 40%);
    text-transform: uppercase;
}