.template {
    cursor: pointer;
    padding: var(--spacing-default);
}

.label {
    font-weight: bold;
}

.value {
    font-family: monospace;
    font-size: var(--font-size-default);
    margin: 0 var(--spacing-default);
}

.description {
    display: block;
    font-size: var(--font-size-small);
    font-style: italic;
    padding-top: var(--spacing-tiny);
}