.line {
    align-items: center;
    display: grid;;
    grid-template-areas:
        "ingredients separator products"
    ;
    grid-template-columns: auto min-content auto;
    padding: var(--spacing-small);
}

.ingredients {
    grid-area: ingredients;
    text-align: right;
}

.products {
    grid-area: products;
}

.icon {
    margin: var(--spacing-small);
}

.separator {
    grid-area: separator;
    margin: var(--spacing-small);
}
