.head {
    background: hsl(0deg, 0%, 100%, 50%);
    border-bottom: 1px solid hsl(0deg, 0%, 40%);
    display: grid;
    grid-template-areas:
        "icon ."
        "icon label"
        "icon ."
    ;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 0 var(--spacing-default);
    padding: var(--spacing-default);
}

.label {
    grid-area: label;
    padding: var(--spacing-tiny) 0;
}

.icon {
    grid-area: icon;
}

.title {
    padding: var(--spacing-default);
}