.clouds {
    --background-size: 256rem;
    --animation-duration: 90s;
    --animation-offset-x: var(--background-size);
    --animation-offset-y: calc(var(--background-size) / 2);

    animation: clouds var(--animation-duration) linear infinite;
    background: transparent url("../../assets/layout/clouds.webp") repeat;
    background-size: var(--background-size);
    height: calc(100vh + var(--animation-offset-y));
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    width: calc(100vw + var(--animation-offset-x));
}

@keyframes clouds {
    from {
        left: calc(-1 * var(--animation-offset-x));
        top: calc(-1 * var(--animation-offset-y));
    }
    to {
        left: 0;
        top: 0;
    }
}