.container {
    display: grid;
    background: #60605F url("../../assets/layout/terrain.webp");

    grid-template-columns: 24rem auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer"
    ;
    min-height: 100vh;
    width: 100vw;
}

.header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

.content {
    grid-area: content;
    padding: 1rem;
}
.sidebar {
    grid-area: sidebar;
}