.card {
    display: grid;
    grid-template-areas:
        "icon ."
        "icon label"
        "icon ."
        "icon line"
        "icon ."
        "icon data"
        "icon ."
    ;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto 1fr auto 1fr auto 1fr;
    grid-gap: 0 var(--spacing-default);
    padding: var(--spacing-small);
    position: relative;
}

.icon {
    grid-area: icon;
}

.line {
    grid-area: line;
}

.label {
    grid-area: label;
}

.data {
    grid-area: data;
}

.data dl {
    display: grid;
    grid-auto-columns: auto 1fr;
    grid-auto-flow: column;
    grid-gap: 0 var(--spacing-small);
    margin: 0;
}

.data dl dt {
    grid-column: 1;
    text-align: right;
    width: 5rem;
}

.data dl dd {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.external {
    position: absolute;
    right: var(--spacing-small);
    bottom: var(--spacing-small);
}