.icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 2rem;
    line-height: 0;
    width: 2rem;
}

.small {
    height: 1.5rem;
    width: 1.5rem;
}

.large {
    height: 3rem;
    width: 3rem;
}

.huge {
    height: 6rem;
    width: 6rem;
}