.head {
    position: relative;
    color: hsla(0deg, 0%, 90%);
    font-size: 1.75rem;
    font-weight: bolder;
    margin: 1rem 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.head::after {
    background: hsla(0deg, 0%, 85%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    content: "";
    display: block;
    height: .125rem;
    left: 0;
    position: absolute;
    right: 0;
}