.copyright {
    color: white;
    font-size: 0.75rem;
    font-weight: bolder;
    opacity: 0.5;
    padding: 1rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.copyright a {
    color: white;
    text-decoration: underline;
}