footer {
    background: #165868 url("../../../assets/layout/water.webp");
    margin-top: 1rem;
    padding-top: 0.5rem;
    position: relative;
}

footer::before {
    background: url("../../../assets/layout/border-bottom.webp");
    background-size: 32rem;
    content: "";
    display: block;
    height: 4rem;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -1.5rem;
}