html {
  --spacing-tiny: 0.125rem;
  --spacing-small: 0.25rem;
  --spacing-default: 0.5rem;
  --spacing-large: 1rem;


  --font-size-huge: 1.75rem;
  --font-size-large: 1.125rem;
  --font-size-default: 1rem;
  --font-size-small: 0.75rem;

  --shadow-box: 1px 1px 2px rgba(0, 0, 0, 0.75);
  --shadow-text: 1px 1px 2px rgba(0, 0, 0, 1);
}

body {
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}